<ion-header>  
  <ion-navbar color="primary">
    <ion-title>Your Subscriptions</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding> 
  <ion-list>
    <ion-item-sliding *ngFor="let item of subscriptionController.channels">
      <ion-item (click)="showAccountModal(item)">
        <ion-avatar item-start>
          <img *ngIf="!item.profile_pic" src="assets/imgs/placeholder/panda.png">
          <img *ngIf="item.profile_pic" src="{{ item.profile_pic }}">
        </ion-avatar>
        <span>
          <h2><b>{{ item.firstname + " " + item.lastname }}</b></h2>
          <ion-note>{{ item.email }}</ion-note>
        </span>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="unsubscribe(item)">
          Unsubscribe
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
