<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Sign In</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
              <img src="assets/imgs/icon.png" alt="logo" width="100px;" height="100px;">
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
    </ion-grid>
    <br><br>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" type="email" [(ngModel)]="account.email"></ion-input>
    </ion-item>
 
    <br><br>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input name="password" type="password" [(ngModel)]="account.password"></ion-input>
    </ion-item>

    <br><br>
    <button ion-button color="amethyst" block large round (click)="doLogin()"> 
      Login
    </button>

    <button ion-button clear color="belize_hole" (click)="goSignUp()" style="text-align: center;">Sign up for new account</button>
  

</ion-content>
