<ion-header>
  <!--   
  <ion-navbar color="amethyst">
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button menuToggle icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Subsriptions</ion-title>
  </ion-navbar>
   -->


  <ion-navbar color="amethyst">
    <ion-searchbar showCancelButton="true"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of subscriptions">
      <ion-thumbnail item-start>
        <img src="{{ item.post.image_thumb }}">
      </ion-thumbnail>
      <span (click)="viewPost(item.post)">
        <h2><b>{{ item.post.title }}</b></h2>
        <p>{{ item.post.description }}</p>
        <p style="font-size:12px;">{{ item.post.created_at | date:'short' }}</p>
      </span>
      <a href="#" (click)="viewAccount(item.user)" style="text-decoration:none;">
        <img *ngIf="!item.user.profile_pic" src="assets/imgs/placeholder/placeholder.png" style="height:30px;width:30px;border-radius:100%;">
        <img *ngIf="item.user.profile_pic" src="{{ item.user.profile_pic }}" style="height:30px;width:30px;border-radius:100%;">
        {{ item.user.firstname + " " + item.user.lastname  }}
      </a>
    </ion-item>
  </ion-list>

  
    <ion-fab bottom right>
      <button ion-fab color="whisteria" (click)="goLive()"><ion-icon name="videocam"></ion-icon></button>
    </ion-fab> 
 

</ion-content>
