<ion-tabs tabsPlacement="top" tabsHighlight="true" color="amethyst">
  <ion-tab [root]="tab1Root" tabIcon="" tabTitle="Hot Now"></ion-tab>
  <!-- <ion-tab [root]="tab4Root" tabTitle="Broadcaster" tabIcon="aperture"></ion-tab> -->
  <ion-tab [root]="tab2Root" tabIcon="" tabTitle="Upcoming"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="" tabTitle="Past Events"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="" tabTitle="Account"></ion-tab>
</ion-tabs> 