<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add New Event</ion-title>

    <ion-buttons end>
      <button ion-button (click)="closeModal()" icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" [(ngModel)]="event.title"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input ion-text-area [(ngModel)]="event.description" rows="3"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Location</ion-label>
        <ion-input type="text" [(ngModel)]="event.location"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Start Date</ion-label>
        <ion-input type="text" [(ngModel)]="event.start_date_time" (click)="selectDate('startDate')" disabled></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label floating>End Date</ion-label>
        <ion-input type="text" [(ngModel)]="event.end_date_time" (click)="selectDate('endDate')" disabled></ion-input>
      </ion-item>
      <br>

      <button ion-button color="turqouise" round block large (click)="saveEvent()">SAVE EVENT</button>
  </ion-list>
</ion-content>