<!--
  Generated template for the EditAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Edit Account</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
              <ion-avatar item-start>
                <!-- <img src="https://randomuser.me/api/portraits/men/46.jpg" style="height:100px;width:100px;border-radius:100%;"> -->
                <img *ngIf="!user._user.profile_pic" src="assets/imgs/placeholder/placeholder.png" style="height:100px;width:100px;border-radius:100%;">
                <img *ngIf="user._user.profile_pic" src="{{ user._user.profile_pic }}" style="height:100px;width:100px;border-radius:100%;">                
              </ion-avatar>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
    </ion-grid>
  
  <ion-list>
    <ion-item>
      <button ion-button clear block (click)="changeProfilePicture()">
          <ion-icon name="camera"></ion-icon> Change Profile Picture
      </button>
    </ion-item>

    <ion-item>
        <ion-label stacked>Firstname</ion-label>
        <ion-input name="firstname" type="text" [(ngModel)]="account.firstname"></ion-input>
    </ion-item>

    <br><br>
    <ion-item>
      <ion-label stacked>Lastname</ion-label>
      <ion-input name="lastname" type="text" [(ngModel)]="account.lastname"></ion-input>
    </ion-item>

    <br><br>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input name="email" type="email" [(ngModel)]="account.email" disabled></ion-input>
    </ion-item>

    <br><br>
    <ion-item>
      <button ion-button round color="peter_river" block (click)="saveInformation()" large>Save Information</button>
    </ion-item>

  </ion-list>  
</ion-content>
