<ion-header>
  <ion-navbar color="primary">
    <ion-title>Update Event</ion-title>

    <ion-buttons end>
      <button ion-button (click)="closeModal()" icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <img *ngIf="!event.banner" src="assets/imgs/events/banner.jpg" style="width:100%;height: 30vh;">
  <img *ngIf="event.banner" src="{{ event.banner }}" style="width:100%;height: 30vh;">

  <button ion-button clear block (click)="changeEventBanner()">
      <ion-icon name="camera"></ion-icon> Change Event Banner
  </button>

  <ion-list padding>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" [(ngModel)]="event.title"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input ion-text-area [(ngModel)]="event.description" rows="3"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Location</ion-label>
        <ion-input type="text" [(ngModel)]="event.location"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Start Date</ion-label>
        <ion-input type="text" [(ngModel)]="event.start_date_time" (click)="selectDate('startDate')" disabled></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label floating>End Date</ion-label>
        <ion-input type="text" [(ngModel)]="event.end_date_time" (click)="selectDate('endDate')" disabled></ion-input>
      </ion-item>
      <br>

      <button ion-button color="turqouise" round block large (click)="saveEvent()">UPDATE EVENT</button>
  </ion-list>
</ion-content>