<ion-menu [content]="content" [enabled]="uiProvider.is_menu_enabled"> 
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Evify</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
            
            <!-- <button menuClose ion-item (click)="showNotifModal()">Notifications</button> -->
            <button ion-item (click)="showSubscriptionListModal()">Subscriptions</button>
            <button ion-item (click)="showEventListModal()">Interested Events</button>
            <button menuClose ion-item (click)="logout()">Logout</button>
        </ion-list>
    </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
