<!--
  Generated template for the AddEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="amethyst">
    <ion-title>Add New Event</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Title</ion-label>
      <ion-input type="text" value="" autofocus [(ngModel)]="event.title"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label fixed>Description</ion-label>
      <ion-textarea [(ngModel)]="event.description"> </ion-textarea>
    </ion-item>

    <ion-item>
      <button ion-button block large color="belize_hole" (click)="saveEvent()">Save Event</button>
    </ion-item>
  
  </ion-list>
</ion-content>
