<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        <ion-icon name="notifications"></ion-icon>
        Notifications
      </ion-title>
      <ion-buttons end>
        <button ion-button (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
     
      </ion-col>
      <ion-col>
          <img src="assets/imgs/placeholder/dinosaur.png" width="100px;" height="100px;">
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <p text-center style="font-size:25px;">No notifications yet.</p>
</ion-content>
