<ion-header>
    <ion-navbar color="primary">
      <ion-title>{{ event.title }}</ion-title>
  
      <ion-buttons end>
        <button ion-button (click)="closeModal()" icon-only>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons> 
    </ion-navbar>
  </ion-header>
<ion-content>  

  <img *ngIf="!event.banner" src="assets/imgs/events/banner.jpg" style="width:100%;height: 30vh;">
  <img *ngIf="event.banner" src="{{ event.banner }}" style="width:100%;height: 30vh;">

  <ion-list>
    <ion-item>
      <div item-start>
        <h3 style="font-size:1.5em;font-weight:bolder;">{{ event.start_date_time | date:'MMM' }} <br> {{ event.start_date_time | date:'d'}}</h3>
      </div>
      <h4 style="font-weight:bold;">{{ event.title }}</h4>
      <ion-note> {{ event.start_date_time | date:'shortTime' }} - {{ event.user.firstname + " " + event.user.lastname }}</ion-note> <br>      
      <ion-note *ngIf="event.interested_count > 0"> {{ event.interested_count }} interested</ion-note>

        <!-- Shows Interested button if the user is not yet registered to this event -->
      <button *ngIf="user._user != null && event.user.id != user._user.id && !event.is_registered" item-end
        (click)="registerToEvent()" ion-button small color="belize_hole" style="border-radius: 5px;">
        Interested
      </button>

      <!-- Shows Cancel button if the user is registered to this event -->
      <button *ngIf="user._user != null && event.user.id != user._user.id && event.is_registered" item-end
        (click)="unregisterToEvent()" ion-button small color="danger" style="border-radius: 5px;">
        Cancel
      </button>
    </ion-item>

    <ion-item>
      <p>{{ event.start_date_time | date:'longDate' }} - {{ event.start_date_time | date:'shortTime' }}</p> <br>
      <h5>Event Description</h5>
      <p>{{ event.description }}</p>
      <p *ngIf="event.interested_count > 0">{{ event.interested_count }} is interested.</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header><h2><b>Event Videos</b></h2></ion-list-header>
    <ion-item *ngFor="let item of event.posts" (click)="viewPost(item)">
      <ion-thumbnail item-start>
        <img *ngIf="item.image_thumb" src="{{ item.image_thumb }}">
        <img *ngIf="!item.image_thumb" src="assets/imgs/placeholder/panda.png">
      </ion-thumbnail>
      <span>
        <h5><b>{{ item.title }}</b></h5>
        <p style="font-size:12px;">{{ item.created_at | date:'longDate' }}</p>
      </span>    
    </ion-item>

    <ion-item>
      <button ion-button color="primary" round block large (click)="goLive()" *ngIf="user._user != null && event.user.id == user._user.id">GO LIVE</button>
    </ion-item>

  </ion-list>

</ion-content>
