<ion-header>
    <ion-navbar color="amethyst">
      <!-- 
        <ion-buttons start>
          <button ion-button icon-only>
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons> 
        <ion-buttons end>
          <button ion-button menuToggle icon-only>
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>Home</ion-title>
      -->
      <ion-searchbar #searchbar [(ngModel)]="searchKey" showCancelButton="true" (search)="search($event)" autocorrect="off"></ion-searchbar>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  
    <ion-card *ngFor="let item of event._events.future_events">
      <ion-item (click)="viewAccount(item.user)">
        <ion-avatar item-start>
          <img *ngIf="!item.user.profile_pic" src="assets/imgs/placeholder/panda.png">
          <img *ngIf="item.user.profile_pic" src="{{ item.user.profile_pic }}">
        </ion-avatar>
        <h2 *ngIf="user._user != null && item.user.id != user._user.id">{{ item.user.firstname + " " +  item.user.lastname}}</h2>
        <h2 *ngIf="user._user != null && item.user.id == user._user.id">You</h2>
        <p>{{ item.start_date_time | date:'longDate' }}</p>
      </ion-item>
    
      <img *ngIf="!item.banner" src="assets/imgs/events/banner.jpg" (click)="viewEvent(item)">
      <img *ngIf="item.banner" src="{{item.banner}}" (click)="viewEvent(item)">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col (click)="viewEvent(item)">
              <h3 style="font-size:1.5em;font-weight:bolder;">{{ item.start_date_time | date:'MMM' }} <br> {{ item.start_date_time | date:'d'}}</h3>
            </ion-col>
            <ion-col text-align="left" (click)="viewEvent(item)">
              <h4 style="font-weight:bold;">{{ item.title }}</h4>
              <ion-note> {{ item.start_date_time | date:'shortTime' }} </ion-note> <br>      
              <ion-note *ngIf="item.interested_count > 0"> {{ item.interested_count }} interested</ion-note>
            </ion-col>
            <ion-col>
              <!-- Shows Interested button if the user is not yet registered to this event -->
              <button *ngIf="user._user != null && item.user.id != user._user.id && !item.is_registered" 
                (click)="registerToEvent(item)" ion-button small color="belize_hole" style="border-radius: 5px;">
                Interested
              </button>
  
              <!-- Shows Cancel button if the user is registered to this event -->
              <button *ngIf="user._user != null && item.user.id != user._user.id && item.is_registered" 
                (click)="unregisterToEvent(item)" ion-button small color="danger" style="border-radius: 5px;">
                Cancel
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content> 
    </ion-card>
  
    <!-- 
      <ion-list>
        <ion-item *ngFor="let item of post._posts">
          <ion-thumbnail item-start>
            <img src="{{ item.image_thumb }}">
          </ion-thumbnail>
          <span (click)="viewPost(item)">
            <h2><b>{{ item.title }}</b></h2>
            <p>{{ item.description }}</p>
            <p style="font-size:12px;">{{ item.created_at | date:'short' }}</p>
          </span>
          <a href="#" (click)="viewAccount(item.user)" style="text-decoration:none;">
            <img *ngIf="!item.user.profile_pic" src="assets/imgs/placeholder/placeholder.png" style="height:30px;width:30px;border-radius:100%;">
            <img *ngIf="item.user.profile_pic" src="{{ item.user.profile_pic }}" style="height:30px;width:30px;border-radius:100%;">
            {{ item.author }}
          </a>
        </ion-item>
      </ion-list>
    -->
  
    <ion-fab bottom right>
      <!-- <button ion-fab color="whisteria" (click)="goLive()"><ion-icon name="videocam"></ion-icon></button> -->
      <button ion-fab color="whisteria" (click)="showEventFormModal()"><ion-icon name="calendar"></ion-icon></button>
    </ion-fab>
  
  </ion-content>  
  <!-- 
    <ion-footer no-border>
      <ion-toolbar color="whisteria">
        <ion-searchbar [(ngModel)]="keySearch" showCancelButton="true" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
      </ion-toolbar>
    </ion-footer> 
  -->
  