<!--
  Generated template for the AccountChannnelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Registered Events</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding> 
  <ion-list>
    <ion-item-sliding *ngFor="let item of eventCtrl._user_registered_events">
      <ion-item *ngIf="item != null" (click)="viewEvent(item)">
        <ion-thumbnail item-start>
          <img *ngIf="!item.banner" src="assets/imgs/placeholder/panda.png">
          <img *ngIf="item.banner" src="{{ item.banner }}">
        </ion-thumbnail>
        <span>
          <h2><b>{{ item.title }}</b></h2>
          <p>{{ item.description }}</p>
          <p style="font-size:12px;">{{ item.created_at | date:'short' }}</p>
        </span>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="cancelRegistration(item)">
          Not Interested
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
