<!--
  Generated template for the AccountChannnelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="primary">
      <ion-title>View User Channel</ion-title>
      <ion-buttons end>
        <button ion-button (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
</ion-header>
<ion-content padding> 
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="{{ account.profile_pic }}" style="height:100px;width:100px;border-radius:100%;">
      </ion-avatar>
      <h2>{{ account.firstname + " " + account.lastname }}</h2>


      <button ion-button color="danger" *ngIf="!subscribed" (click)="subscribe()">
        <ion-icon name="play"></ion-icon> &nbsp; &nbsp; SUBSCRIBE NOW
      </button>

      <button ion-button color="danger" outline *ngIf="subscribed" (click)="unsubscribe()"> UNSUBSCRIBE </button>
    
      <p>{{ subscribers }} Subscibers</p>
      <p>{{ posts.length }} Videos</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>{{ account.firstname + " " + account.lastname }}'s Videos</ion-list-header>
    <ion-item *ngFor="let item of posts">
      <ion-thumbnail item-start>
        <img src="{{ item.image_thumb }}">
      </ion-thumbnail>
      <span (click)="viewPost(item)">
        <h2><b>{{ item.title }}</b></h2>
        <p>{{ item.description }}</p>
        <p style="font-size:12px;">{{ item.created_at | date:'short' }}</p>
      </span>
    </ion-item>
  </ion-list>

</ion-content>
