
<ion-header>
    <ion-navbar color="primary">
      <ion-title>Sign Up</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
      <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
                <img src="assets/imgs/icon.png" alt="logo" width="100px;" height="100px;">
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
      </ion-grid>
      <br><br>

      <ion-item>
          <ion-label position="floating">Firstname</ion-label>
          <ion-input name="firstname" type="text" [(ngModel)]="account.firstname"></ion-input>
      </ion-item>

      <br><br>
      <ion-item>
        <ion-label position="floating">Lastname</ion-label>
        <ion-input name="lastname" type="text" [(ngModel)]="account.lastname"></ion-input>
      </ion-item>
    
      <br><br>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input name="email" type="email" [(ngModel)]="account.email"></ion-input>
      </ion-item>

      <br><br>
      <ion-item>
        <ion-label position="floating">Contact Number</ion-label>
        <ion-input name="contact_number" type="text" [(ngModel)]="account.contact_number"></ion-input>
      </ion-item>

      <br><br>
      <ion-item>
        <ion-label position="floating">Code</ion-label>
        <ion-input name="code" type="text" [(ngModel)]="account.code"></ion-input>
      </ion-item>


      <!-- <a href="#" (click)="triggerWebView()">Click here to get the code.</a> -->
      <button ion-button clear color="belize_hole" (click)="triggerWebView()" style="text-align: center;">Click here to get the code.</button>
      <br><br> 
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input name="password" type="password" [(ngModel)]="account.password"></ion-input>
      </ion-item>
      
      <br><br>
<!--       
      <ion-list radio-group [(ngModel)]="account.user_type">
        <ion-list-header>How do you want to use our platform ?</ion-list-header>
        <ion-item>
          <ion-label>To see some interesting events i can go to. </ion-label>
          <ion-radio value="client"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>To post events coming from my business , organization , etc.</ion-label>
          <ion-radio value="organizer"></ion-radio>
        </ion-item>
      </ion-list> -->

      <ion-list>
        <ion-item>
          <ion-label>I want to</ion-label>
          <ion-select [(ngModel)]="account.user_type" cancelText="Cancel" okText="Okay">
            <ion-option value="client" selected="true">View events only</ion-option>
            <ion-option value="organizer">Post and view events</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>


      <br><br>

      <button ion-button color="amethyst" block large round (click)="doSignUp()"> 
        Sign Up
      </button>
  
      <button ion-button clear color="belize_hole" (click)="goToLogin()" style="text-align: center;">I have an account.</button>
    
  
  </ion-content>
  