<ion-content padding>

  <button ion-button
    *ngIf="!isBroadcasting"
    [disabled]="!broadcaster || isPending"
    (click)="start()" 
    id="startButton">
    Start
  </button>

  <button ion-button 
    *ngIf="isBroadcasting"
    [disabled]="isPending" 
    (click)="stop()"
    color="danger"  
    id="endButton">
    Stop
  </button>
 
  <button ion-button icon-only
    *ngIf="broadcaster"
    [disabled]="isPending"
    (click)="switchCamera()"
    id="switchButton"  
  >
    <ion-icon name="reverse-camera"></ion-icon>
  </button>

</ion-content>
