<ion-header>
  <ion-navbar color="amethyst">
    <ion-searchbar showCancelButton="true"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img *ngIf="!account.profile_pic" src="assets/imgs/placeholder/placeholder.png" style="height:100px;width:100px;border-radius:100%;">
        <img *ngIf="account.profile_pic" src="{{ account.profile_pic }}" style="height:100px;width:100px;border-radius:100%;">
      </ion-avatar>

      <button ion-button icon-start item-end clear color="peter_river" (click)="showEditAccountModal()">
        <ion-icon name="create"></ion-icon>
        Edit
      </button>
      <h2>{{ account.firstname + " " + account.lastname }}</h2>
      <p>{{ subscribers }} Subscibers</p>
      <p>{{ posts.length }} Videos</p>
      
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Your Events</ion-list-header>

    <ion-item-sliding *ngFor="let item of eventController._user_events" >
      <ion-item (click)="viewEvent(item)">
        <ion-thumbnail item-start>
          <!-- <img src="{{ item.banner }}"> -->
          <img *ngIf="!item.banner" src="assets/imgs/events/banner.jpg">
          <img *ngIf="item.banner" src="{{item.banner}}">
        </ion-thumbnail>
        <span>
          <h2><b>{{ item.title }}</b></h2>
          <p>{{ item.description }}</p>
          <p style="font-size:12px;">{{ item.created_at | date:'short' }}</p>
        </span>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteEvent(item)">
          <ion-icon name="trash"></ion-icon> Delete
        </button>

        <button ion-button color="peter_river" (click)="editEvent(item)">
          <ion-icon name="create"></ion-icon> UPDATE
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>



  <ion-fab bottom right>
      <button ion-fab color="whisteria" (click)="showEventFormModal()"><ion-icon name="calendar"></ion-icon></button>
  </ion-fab> 
</ion-content>
