body.show-native-player {
    // ion-app,
    // ion-content,
    // .nav-decor { 
    //   background-color: transparent !important;
    // }
    
    html, body, ion-app, ion-content, ion-page, .nav-decor {
      // background-color: transparent !important;
      visibility: hidden;
    }

    .logo {
      position: absolute;
      top: 0.5em;
      right: 0.8em;
      font-size: 3em;
      color: #fff;
      visibility: visible;
  }


    /**
     * For debugging: a semi-transparent <body>
     * Uncomment to illustrate whether or not the ionic app is transparent,
     * regardless of whether or not a viewfinder is displayed
     */
    // background-color: rgba(255, 0, 0, 0.5);
  }



page-view-post {
    .logo {
        position: absolute;
        top: 0.5em;
        right: 0.8em;
        font-size: 3em;
        color: #fff;
    }
}
