<!--
    Generated template for the ViewPostPage page.

    See http://ionicframework.com/docs/components/#navigation for more info on
    Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>{{ post.title }}</ion-title>

    <ion-buttons end>
      <button ion-button
        *ngIf="showCloseButton"
        (click)="closePlayer()">
        <ion-icon name="close-circle"></ion-icon>&nbsp;close
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div class="player-container">
    <div #player></div>
    <ion-icon class="logo" name="ionitron"></ion-icon>
  </div>
</ion-content>
